In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range('20130101', periods=6)

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2013-01-01 -1.840888  1.751190  1.018743  0.574311
2013-01-02  0.159794  0.332641 -2.672670 -0.643233
2013-01-03 -0.427389  0.329337  1.852707  0.359740
2013-01-04  0.316291  1.764441  0.795964 -0.191741
2013-01-05 -1.654941 -1.100576  1.982682 -1.064809
2013-01-06  2.037314 -1.140256 -1.093195 -0.129840

In [10]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3]*4, dtype='int32'),
                    'E': pd.Categorical(['test', 'train', 'test', 'train']),
                    'F': 'foo'})

In [11]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [15]:
df.head(1)

                   A        B         C         D
2013-01-01 -1.840888  1.75119  1.018743  0.574311

In [14]:
df.tail(2)

                   A         B         C         D
2013-01-05 -1.654941 -1.100576  1.982682 -1.064809
2013-01-06  2.037314 -1.140256 -1.093195 -0.129840

In [16]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [18]:
df.values

array([[-1.84088832,  1.75118961,  1.0187426 ,  0.57431082],
       [ 0.15979399,  0.3326408 , -2.67266955, -0.64323343],
       [-0.42738923,  0.32933669,  1.85270728,  0.35973981],
       [ 0.31629137,  1.76444094,  0.79596405, -0.1917415 ],
       [-1.65494094, -1.10057617,  1.98268185, -1.0648094 ],
       [ 2.03731404, -1.14025582, -1.09319486, -0.12983982]])

In [19]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.234970  0.322796  0.314039 -0.182596
std    1.432154  1.287268  1.832019  0.609982
min   -1.840888 -1.140256 -2.672670 -1.064809
25%   -1.348053 -0.743098 -0.620905 -0.530360
50%   -0.133798  0.330989  0.907353 -0.160791
75%    0.277167  1.396552  1.644216  0.237345
max    2.037314  1.764441  1.982682  0.574311

In [20]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.840888    0.159794   -0.427389    0.316291   -1.654941    2.037314
B    1.751190    0.332641    0.329337    1.764441   -1.100576   -1.140256
C    1.018743   -2.672670    1.852707    0.795964    1.982682   -1.093195
D    0.574311   -0.643233    0.359740   -0.191741   -1.064809   -0.129840

In [23]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.574311  1.018743  1.751190 -1.840888
2013-01-02 -0.643233 -2.672670  0.332641  0.159794
2013-01-03  0.359740  1.852707  0.329337 -0.427389
2013-01-04 -0.191741  0.795964  1.764441  0.316291
2013-01-05 -1.064809  1.982682 -1.100576 -1.654941
2013-01-06 -0.129840 -1.093195 -1.140256  2.037314

In [24]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-06  2.037314 -1.140256 -1.093195 -0.129840
2013-01-05 -1.654941 -1.100576  1.982682 -1.064809
2013-01-03 -0.427389  0.329337  1.852707  0.359740
2013-01-02  0.159794  0.332641 -2.672670 -0.643233
2013-01-01 -1.840888  1.751190  1.018743  0.574311
2013-01-04  0.316291  1.764441  0.795964 -0.191741

In [27]:
df['B'], df.B

(2013-01-01    1.751190
 2013-01-02    0.332641
 2013-01-03    0.329337
 2013-01-04    1.764441
 2013-01-05   -1.100576
 2013-01-06   -1.140256
 Freq: D, Name: B, dtype: float64, 2013-01-01    1.751190
 2013-01-02    0.332641
 2013-01-03    0.329337
 2013-01-04    1.764441
 2013-01-05   -1.100576
 2013-01-06   -1.140256
 Freq: D, Name: B, dtype: float64)

In [28]:
df[0:3]

                   A         B         C         D
2013-01-01 -1.840888  1.751190  1.018743  0.574311
2013-01-02  0.159794  0.332641 -2.672670 -0.643233
2013-01-03 -0.427389  0.329337  1.852707  0.359740

In [30]:
df['20130102':'20130103']

                   A         B         C         D
2013-01-02  0.159794  0.332641 -2.672670 -0.643233
2013-01-03 -0.427389  0.329337  1.852707  0.359740