## 引入

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

## 创建object

## 查看数据

## 选择

## 缺失值

## 操作

## Time Series

In [4]:
rng = pd.date_range('1/1/2018', periods=100, freq='S')

In [7]:
# rng

In [8]:
# len(rng)

In [10]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
# ts

In [12]:
ts.resample('5Min').sum()

2018-01-01    23058
Freq: 5T, dtype: int32

In [17]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')

In [19]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [21]:
ts_utc = ts.tz_localize('UTC')

In [23]:
ts,ts_utc

(2012-03-06    0.681406
 2012-03-07    0.600351
 2012-03-08   -0.294498
 2012-03-09   -0.298928
 2012-03-10   -0.458326
 Freq: D, dtype: float64, 2012-03-06 00:00:00+00:00    0.681406
 2012-03-07 00:00:00+00:00    0.600351
 2012-03-08 00:00:00+00:00   -0.294498
 2012-03-09 00:00:00+00:00   -0.298928
 2012-03-10 00:00:00+00:00   -0.458326
 Freq: D, dtype: float64)

## categoricals

In [24]:
df = pd.DataFrame({'id':[1,2,3,4,5,6], 'raw_grade':['a', 'b', 'b', 'a', 'a', 'e']})

In [25]:
df

   id raw_grade
0   1         a
1   2         b
2   3         b
3   4         a
4   5         a
5   6         e