In [1]:
import numpy as np
import pandas as pd

#### Boolean indexing

Using a boolean vector to index a Series works exactly as in a NumPy ndarray:

In [3]:
s = pd.Series(range(-3, 4))
s

0   -3
1   -2
2   -1
3    0
4    1
5    2
6    3
dtype: int64

In [4]:
s[s > 0]

4    1
5    2
6    3
dtype: int64

In [5]:
s[(s < -1) | (s > 0.5)]

0   -3
1   -2
4    1
5    2
6    3
dtype: int64

In [6]:
s[~(s<0)]

3    0
4    1
5    2
6    3
dtype: int64

You may select rows from a DataFrame using a boolean vector the same length as the DataFrameâ€™s index (for example, something derived from one of the columns of the DataFrame):

In [9]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
df[df['A'] > 0]

          A         B         C         D
3  0.027253 -0.903283 -1.680154 -0.564630
5  0.487548  0.504318 -0.018427 -2.272838
6  0.161420  0.212943 -0.453240 -2.005517
7  1.692784 -0.935738 -0.582755  1.731820

## Indexing with isin