In [1]:
import numpy as np
import pandas as pd

## Series

s = pd.Series(data, index=index)

#### from ndarray

In [25]:
s = pd.Series(np.random.randn(5), index=list('abcde'))

In [10]:
s

a    1.116794
b    1.295726
c   -1.181298
d    0.801260
e   -1.460208
dtype: float64

In [11]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [13]:
s.values

array([ 1.11679382,  1.29572561, -1.1812977 ,  0.80126025, -1.46020816])

In [15]:
s = pd.Series(np.random.randn(5))

In [16]:
s

0    0.852105
1    0.968437
2   -0.306914
3   -1.885963
4   -0.467338
dtype: float64

#### from dict

In [30]:
s = pd.Series({'d': [0,1], 'b':1, 'c':2})

In [31]:
s

b         1
c         2
d    [0, 1]
dtype: object

In [22]:
s.values

array([list([0, 1]), 1, 2], dtype=object)

In [23]:
type(s.values)

numpy.ndarray

In [38]:
s = pd.Series({'d':1,'b':2,'c':3}, index=list('bcd'))

In [39]:
s

b    2
c    3
d    1
dtype: int64

#### from a scalar

In [42]:
s = pd.Series(2, index=list('abcd'))

In [43]:
s

a    2
b    2
c    2
d    2
dtype: int64

### Series is ndarray-like

In [45]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a   -0.562897
b    0.801526
c    1.867205
d    0.675576
e   -1.037806
dtype: float64

In [46]:
s[0]

-0.5628969433042958

In [49]:
s[0:3]

a   -0.562897
b    0.801526
c    1.867205
dtype: float64

In [50]:
s.median()

0.675576011623181

In [52]:
np.median(s)

0.675576011623181

In [54]:
flag = s > s.median()
flag

a    False
b     True
c     True
d    False
e    False
dtype: bool

In [55]:
s[flag]

b    0.801526
c    1.867205
dtype: float64

In [56]:
s[[4,3,1]]

e   -1.037806
d    0.675576
b    0.801526
dtype: float64

In [57]:
np.exp(s)

a    0.569557
b    2.228939
c    6.470190
d    1.965165
e    0.354231
dtype: float64

### Series is dict-like

In [58]:
s

a   -0.562897
b    0.801526
c    1.867205
d    0.675576
e   -1.037806
dtype: float64

In [59]:
s['a']

-0.5628969433042958

In [60]:
s['e'] = 0

In [61]:
s

a   -0.562897
b    0.801526
c    1.867205
d    0.675576
e    0.000000
dtype: float64

In [63]:
'e' in s

True

In [64]:
s.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [65]:
type(s.keys())

pandas.core.indexes.base.Index

### Vectorized operations and label alignment with Series

In [66]:
s

a   -0.562897
b    0.801526
c    1.867205
d    0.675576
e    0.000000
dtype: float64

In [67]:
s + s

a   -1.125794
b    1.603051
c    3.734411
d    1.351152
e    0.000000
dtype: float64

In [69]:
s * 2

a   -1.125794
b    1.603051
c    3.734411
d    1.351152
e    0.000000
dtype: float64

In [70]:
np.exp(s)

a    0.569557
b    2.228939
c    6.470190
d    1.965165
e    1.000000
dtype: float64

In [72]:
s[::-1] + s

a   -1.125794
b    1.603051
c    3.734411
d    1.351152
e    0.000000
dtype: float64

### Name attribute

In [73]:
s = pd.Series(np.random.randn(5), name='foo')

In [74]:
s

0    2.099042
1   -1.030940
2   -0.409265
3   -0.065531
4   -0.858285
Name: foo, dtype: float64

In [75]:
s.name

'foo'

In [76]:
s2 = s.rename('bar')

In [77]:
s2.name

'bar'

## DataFrame

### From dict of Series or dicts

In [81]:
d = {'one': pd.Series([1,2,3,4], index=list('abcd')),
     'two': pd.Series([1,2,3,4,5], index=list('abcde'))}

In [82]:
df = pd.DataFrame(d)

In [83]:
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  NaN    5

In [94]:
df = pd.DataFrame(d, index=list('bcef'), columns=['one', 'two'])

In [95]:
df

   one  two
b  2.0  2.0
c  3.0  3.0
e  NaN  5.0
f  NaN  NaN