In [22]:
import pandas as pd
import numpy as np

## Operations

#### Apply

In [23]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.312721 -0.677224  0.393247  2.151865
2013-01-02 -2.186912  0.501612  1.293105  0.445570
2013-01-03 -0.115223 -0.624382  1.436983 -0.045426
2013-01-04  0.805486  0.909892 -0.382623  0.765864
2013-01-05 -0.594657 -1.058721 -1.682340 -0.134013
2013-01-06  0.065874  1.184236 -0.978896  1.448014

In [24]:
df.apply(lambda x: x.max())

A    0.805486
B    1.184236
C    1.436983
D    2.151865
dtype: float64

## Merge

#### concat

In [2]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -1.255009 -0.440510  1.176176  0.953917
1  0.619088  0.262192  0.417103  0.191940
2 -1.198049 -0.765776 -1.488964  0.791394
3  1.208574 -0.998291 -0.555343  0.967352
4  1.516534  0.481563  0.409297  0.835383
5  0.163233  0.182079  0.121844  0.952999
6 -1.324954 -0.199877 -0.857540 -1.321062
7 -0.355145 -1.126336 -0.262853 -0.845281
8 -0.692717 -0.082182 -1.542740  0.739996
9 -2.231871 -1.079366  1.105201 -0.338986

In [4]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0 -1.255009 -0.440510  1.176176  0.953917
 1  0.619088  0.262192  0.417103  0.191940
 2 -1.198049 -0.765776 -1.488964  0.791394,
           0         1         2         3
 3  1.208574 -0.998291 -0.555343  0.967352
 4  1.516534  0.481563  0.409297  0.835383
 5  0.163233  0.182079  0.121844  0.952999
 6 -1.324954 -0.199877 -0.857540 -1.321062,
           0         1         2         3
 7 -0.355145 -1.126336 -0.262853 -0.845281
 8 -0.692717 -0.082182 -1.542740  0.739996
 9 -2.231871 -1.079366  1.105201 -0.338986]

In [5]:
pd.concat(pieces)

          0         1         2         3
0 -1.255009 -0.440510  1.176176  0.953917
1  0.619088  0.262192  0.417103  0.191940
2 -1.198049 -0.765776 -1.488964  0.791394
3  1.208574 -0.998291 -0.555343  0.967352
4  1.516534  0.481563  0.409297  0.835383
5  0.163233  0.182079  0.121844  0.952999
6 -1.324954 -0.199877 -0.857540 -1.321062
7 -0.355145 -1.126336 -0.262853 -0.845281
8 -0.692717 -0.082182 -1.542740  0.739996
9 -2.231871 -1.079366  1.105201 -0.338986

#### join

In [12]:
left = pd.DataFrame({'key':['foo', 'bar'], 'lval':[1,2]})
right = pd.DataFrame({'key':['foo', 'bar'], 'rval': [4,5]})

In [13]:
left

   key  lval
0  foo     1
1  bar     2

In [14]:
right

   key  rval
0  foo     4
1  bar     5

In [15]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

#### append

In [17]:
df = pd.DataFrame(np.random.randn(8, 4), columns=list('ABCD'))
df

          A         B         C         D
0 -1.749244  0.657451 -0.808626 -0.090258
1 -0.445000  0.021169 -0.054428 -0.805185
2  0.488461  0.936772 -1.397807  0.663105
3 -1.107745 -0.118342  0.494195  2.467700
4 -1.278321 -1.205833 -0.739991  1.322284
5 -0.586860 -0.460884  0.599861 -1.068363
6  0.247367  1.399627  0.543425  1.680257
7 -0.108266  0.347855 -0.217919 -0.767697

In [18]:
s = df.iloc[3]

In [19]:
s

A   -1.107745
B   -0.118342
C    0.494195
D    2.467700
Name: 3, dtype: float64

In [21]:
df.append(s)#, ignore_index=True)

          A         B         C         D
0 -1.749244  0.657451 -0.808626 -0.090258
1 -0.445000  0.021169 -0.054428 -0.805185
2  0.488461  0.936772 -1.397807  0.663105
3 -1.107745 -0.118342  0.494195  2.467700
4 -1.278321 -1.205833 -0.739991  1.322284
5 -0.586860 -0.460884  0.599861 -1.068363
6  0.247367  1.399627  0.543425  1.680257
7 -0.108266  0.347855 -0.217919 -0.767697
3 -1.107745 -0.118342  0.494195  2.467700