#### Reshaping by pivoting DataFrame objects

In [3]:
import numpy as np
import pandas as pd
import pandas.util.testing as tm; tm.N = 3
def unpivot(frame):
    N, K = frame.shape
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    return pd.DataFrame(data, columns=['date', 'variable', 'value'])
df = unpivot(tm.makeTimeDataFrame())

In [4]:
df

         date variable     value
0  2000-01-03        A  0.665492
1  2000-01-04        A -0.318973
2  2000-01-05        A -0.125206
3  2000-01-03        B  1.163980
4  2000-01-04        B -1.383001
5  2000-01-05        B -0.564774
6  2000-01-03        C -0.697036
7  2000-01-04        C -1.657168
8  2000-01-05        C -0.788227
9  2000-01-03        D -0.954248
10 2000-01-04        D  0.524152
11 2000-01-05        D -2.519917

In [10]:
# type(df['variable'])
# df['variable']
# df['variable'] == 'A'
df[df['variable'] == 'A']

        date variable     value
0 2000-01-03        A  0.665492
1 2000-01-04        A -0.318973
2 2000-01-05        A -0.125206

In [ ]:
df[]